li{
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}
.c{
  clear:both;
}
a{
  color: #83521e;
  text-decoration: none;
  outline: none;
}
.wrap{
 min-width: 80%;
}
.header .topbar{
  display: block;
  background: #691917;
  height: 30px;
}
.content{
  background-color: #f7f3ed;  
  height: 100vh;
}
.logo h1{
  float: left;
  margin-left: 120px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'microsoft yahei';
}
.headMenu{
  float: right;
  margin-top: 40px;
}
.headMenu a{
  font-size: 20px;
  color: #000;
}
.headMenu a::before{
  color: #C8C2B6;
  font-size: 1em;
  content: "|";
  padding: 5px 5px;
  display: inline-block;
}
.headMenu a:hover{
 color:#691917;
}

.headMenu li{
  float: right;
}
.headMenu .tell{
  margin-left: 20px;
  margin-right: 20px;
}
.headMenu .home{
  margin-right: 20px;
}
.bf h3{
  font-size: 30px;
  font-weight: bold;
  font-family: 'microsoft yahei';
}
.cmenu{
  margin-top: 30px;
  margin-left: 50px;
}
.menu{
  float: left;
}
.menuh{
  border-left: solid 5px  #83521e;
  padding-left: 5px;
  margin-left: 90px;

}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.cmenu li:hover{
  background:#83521e;
}
.cmenu li a:hover{
  color: #fff;
}
.cmenu a{
  display: block;
  padding: 15px;
  font-size: 25px;
  font-family:  'microsoft yahei';
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display:none;
  float: left;
  min-width: 160px;
  font-size: 12px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  padding-inline-start: 0px;
}
.dropdownMenu>li>a{
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
div.jjj:hover ul{
  display:block;
} 
.dlist{
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
}
.List{
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.new{
  margin-left: 300px;
  float: left;
}
.newh{
  padding-top: 5px; 
  font-size: 30px;
  font-weight: bold;
}
.con{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.con a{
  color:black;
}
.conh{
  font-size: 25px;
  color:#691917;
  font-weight:bold;
}
.newh h3{
 font-size: 30px;
 font-weight: bold;
 font-family: 'microsoft yahei';  
}
.table{
  background-color:white;
  color:black;
  font-family: 'microsoft yahei';
  border:3px solid #691917;
}
.more{
  width: 80px;
  height: 30px;
  background:#987c4d;
  float: right;
  margin-top: 10px;
  padding-top: 5px;
}
.more a{
  font-size: 20px;
  color: #fff;
  padding-left: 15px;
}